In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [3]:
dframe = DataFrame(np.arange(12).reshape(4,3))
# dframe is constructed by casting a 4-row by 3-col numpy array as a pandas DataFrame, pre-filled with values 0-11.
# Here the index defaults to [0,1,2,3], the columns to [0,1,2]

In [4]:
dframe

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [5]:
# Constructing a DataFrame from a Dictionary:
data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}
city_frame = DataFrame(data)
# Creates a DataFrame with columns labeled City and Population, indexes of [0,1,2]
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [6]:
# Adding a Series to an existing DataFrame:
colors = Series(["Blue","Red"],index=[4,1])
dframe['Color']=colors
# dframe now has a Color column with Blue matched to index 4, Red to 1, and NaN after everything else.
colors

4    Blue
1     Red
dtype: object

In [22]:
#Now we'll learn DataFrames

#Let's get some data to play with. How about the NFL?
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [23]:
#Copy and read to get data
nfl_frame = pd.read_clipboard()

In [37]:
#Show
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,Levi's Stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,Levi's Stadium
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,Levi's Stadium
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,Levi's Stadium
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,Levi's Stadium
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,Levi's Stadium
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West,Levi's Stadium
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,Levi's Stadium
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North,Levi's Stadium
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West,Levi's Stadium
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South,Levi's Stadium
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West,Levi's Stadium
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North,Levi's Stadium
13,14,Kansas City Chiefs,447,409,12,0.522,1960,868,AFC West,Levi's Stadium
14,15,Washington Redskins,586,572,28,0.506,1932,"1,186",NFC East,Levi's Stadium
15,16,Seattle Seahawks,325,318,1,0.505,1976,644,NFC West,Levi's Stadium
16,17,Cleveland Browns,462,466,10,0.498,1950,938,AFC North,Levi's Stadium
17,18,Los Angeles Chargers,426,431,11,0.497,1960,868,AFC West,Levi's Stadium
18,19,Los Angeles Rams,544,554,21,0.496,1937,"1,119",NFC West,Levi's Stadium
19,20,Carolina Panthers,172,179,1,0.490,1995,352,NFC South,Levi's Stadium
20,21,Philadelphia Eagles,555,591,26,0.485,1933,"1,172",NFC East,Levi's Stadium
21,22,Tennessee Titans,413,449,6,0.479,1960,868,AFC South,Levi's Stadium
22,23,Buffalo Bills,400,460,8,0.465,1960,868,AFC East,Levi's Stadium
23,24,Detroit Lions,544,641,32,0.460,1930,"1,217",NFC North,Levi's Stadium
24,25,Cincinnati Bengals,344,408,4,0.458,1968,756,AFC North,Levi's Stadium
25,26,New York Jets,392,468,8,0.456,1960,868,AFC East,Levi's Stadium
26,27,New Orleans Saints,338,427,5,0.442,1967,770,NFC South,Levi's Stadium
27,28,Houston Texans,106,134,0,0.442,2002,240,AFC South,Levi's Stadium
28,29,Jacksonville Jaguars,155,197,0,0.440,1995,352,AFC South,Levi's Stadium
29,30,Atlanta Falcons,341,437,6,0.439,1966,784,NFC South,Levi's Stadium
30,31,Arizona Cardinals,542,732,40,0.428,1920,"1,314",NFC West,Levi's Stadium
31,32,Tampa Bay Buccaneers,250,393,1,0.389,1976,644,NFC South,Levi's Stadium

In [38]:
# We can grab the oclumn names with .columns
nfl_frame.columns

Index(['Rank ', 'Team ', 'Won ', 'Lost ', 'Tied ', 'Pct. ',
       'First NFL Season ', 'Total Games ', 'Division', 'Stadium'],
      dtype='object')

In [39]:
#Lets see some specific data columns
DataFrame(nfl_frame,columns=['Team','First Season','Total Games'])

    Team  First Season  Total Games
0    NaN           NaN          NaN
1    NaN           NaN          NaN
2    NaN           NaN          NaN
3    NaN           NaN          NaN
4    NaN           NaN          NaN
5    NaN           NaN          NaN
6    NaN           NaN          NaN
7    NaN           NaN          NaN
8    NaN           NaN          NaN
9    NaN           NaN          NaN
10   NaN           NaN          NaN
11   NaN           NaN          NaN
12   NaN           NaN          NaN
13   NaN           NaN          NaN
14   NaN           NaN          NaN
15   NaN           NaN          NaN
16   NaN           NaN          NaN
17   NaN           NaN          NaN
18   NaN           NaN          NaN
19   NaN           NaN          NaN
20   NaN           NaN          NaN
21   NaN           NaN          NaN
22   NaN           NaN          NaN
23   NaN           NaN          NaN
24   NaN           NaN          NaN
25   NaN           NaN          NaN
26   NaN           NaN          NaN
27   NaN           NaN          NaN
28   NaN           NaN          NaN
29   NaN           NaN          NaN
30   NaN           NaN          NaN
31   NaN           NaN          NaN

In [40]:
#What happens if we ask for a column that doesn't exist?
DataFrame(nfl_frame,columns=['Team','First Season','Total Games','Stadium'])

    Team  First Season  Total Games         Stadium
0    NaN           NaN          NaN  Levi's Stadium
1    NaN           NaN          NaN  Levi's Stadium
2    NaN           NaN          NaN  Levi's Stadium
3    NaN           NaN          NaN  Levi's Stadium
4    NaN           NaN          NaN  Levi's Stadium
5    NaN           NaN          NaN  Levi's Stadium
6    NaN           NaN          NaN  Levi's Stadium
7    NaN           NaN          NaN  Levi's Stadium
8    NaN           NaN          NaN  Levi's Stadium
9    NaN           NaN          NaN  Levi's Stadium
10   NaN           NaN          NaN  Levi's Stadium
11   NaN           NaN          NaN  Levi's Stadium
12   NaN           NaN          NaN  Levi's Stadium
13   NaN           NaN          NaN  Levi's Stadium
14   NaN           NaN          NaN  Levi's Stadium
15   NaN           NaN          NaN  Levi's Stadium
16   NaN           NaN          NaN  Levi's Stadium
17   NaN           NaN          NaN  Levi's Stadium
18   NaN           NaN          NaN  Levi's Stadium
19   NaN           NaN          NaN  Levi's Stadium
20   NaN           NaN          NaN  Levi's Stadium
21   NaN           NaN          NaN  Levi's Stadium
22   NaN           NaN          NaN  Levi's Stadium
23   NaN           NaN          NaN  Levi's Stadium
24   NaN           NaN          NaN  Levi's Stadium
25   NaN           NaN          NaN  Levi's Stadium
26   NaN           NaN          NaN  Levi's Stadium
27   NaN           NaN          NaN  Levi's Stadium
28   NaN           NaN          NaN  Levi's Stadium
29   NaN           NaN          NaN  Levi's Stadium
30   NaN           NaN          NaN  Levi's Stadium
31   NaN           NaN          NaN  Levi's Stadium

In [41]:
# Call columns
nfl_frame.columns

Index(['Rank ', 'Team ', 'Won ', 'Lost ', 'Tied ', 'Pct. ',
       'First NFL Season ', 'Total Games ', 'Division', 'Stadium'],
      dtype='object')

In [42]:
#We can retrieve individual column
nfl_frame.Team

AttributeError: 'DataFrame' object has no attribute 'Team'

In [31]:
#We can retrieve rows through indexing
nfl_frame.ix[3]

C:\Users\Dhruba\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

Rank                               4
Team                 Miami Dolphins
Won                              439
Lost                             341
Tied                               4
Pct.                           0.563
First NFL Season                1966
Total Games                     784
Division                    AFC East
Name: 3, dtype: object

In [33]:
#We can also assign value sto entire columns
nfl_frame['Stadium']="Levi's Stadium" #Careful with the ' here

In [ ]:
nfl_frame

In [ ]:
# Call columns
nfl_frame.columns

In [ ]:
#Adding a Series to a DataFrame
stadiums = Series(["Levi's Stadium","AT&T Stadium"],index=[4,0])

In [ ]:
#Now input into the nfl DataFrame
nfl_frame['Stadium']=stadiums

#Show
nfl_frame

In [ ]:
#We can also delete columns
del nfl_frame['Stadium']

nfl_frame

In [ ]:
#DataFrames can be constructed many ways. Another way is from a dictionary of equal length lists
data = {'City':['SF','LA','NYC'],
        'Population':[837000,3880000,8400000]}

city_frame = DataFrame(data)

#Show
city_frame